<div class="ecp--month-navigation">
  <div class="ecp--month-navigation-left" onKeyDown={{action "keyDownPreviousMonth"}}
                                          role="button"
                                          {{action "previousMonth"}}>&lt;</div>
  <div class="ecp--month-navigation-label">
    {{yield dateInView}}
  </div>
  <div class="ecp--month-navigation-right" onKeyDown={{action "keyDownNextMonth"}}
                                           role="button"
                                           {{action "nextMonth"}}>&gt;</div>
</div>
